<h2>Ejercicio 1</h2>
<app-ejercicio1 [nombre]="name"></app-ejercicio1>
<h2>Ejercicio 2</h2>
<app-contador></app-contador>
<h2>Ejercicio 3</h2>
<app-tareas></app-tareas>
<h2>Ejercicio 4</h2>
<app-temporizador></app-temporizador>
<h2>Ejercicio 5</h2>
<app-comentarios (comentarioEnviado)="manejarComentario($event)"></app-comentarios>
<p>Último comentario enviado: {{ ultimoComentario }}</p>
<h2>Ejercicio 6</h2>
<app-tarjeta
  [nombre]="nombreProducto"
  [descripcion]="descripcionProducto"
  [precio]="precioProducto">
</app-tarjeta>
<h2>Ejercicio 7</h2>
<app-calculadora></app-calculadora>
